<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kuntseva.radio2" >

    <uses-sdk android:minSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />


       <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".com.example.kuntseva.view_plus_controller.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".com.example.kuntseva.view_plus_controller.ItemRadioFrame"
            android:label="@string/title_activity_item_radio_frame" >
        </activity>
        <activity
            android:name=".com.example.kuntseva.view_plus_controller.DescriptionFrame"
            android:label="@string/title_activity_description_frame" >
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main_activity2" >
        </activity>
        <activity
            android:name=".com.example.kuntseva.view_plus_controller.AboutAuthorActivity"
            android:label="@string/title_activity_about_author" >
        </activity>
    </application>

</manifest>
